.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

.event-card-image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.event-card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}